<form class="formConfig"  Action='@Url.ActionLink("Comenzar", "Home")'>
    @foreach (Categorias item in ViewBag.ListaCategorias)
    {
        <input class="ncategoria" type="radio" name="categoria" value="@item.IdCategoria" required > @item.Nombre  
    }
    @foreach (Dificultades item in ViewBag.ListaDificultades)
    { 
        <input class="ndificultad" type="radio" name="dificultad" value="@item.IdDificultad"  required > @item.Nombre
    }
        <br>
    <input class="nameusu" type="text" name="username" placeholder="Nombre de Usuario:" required > 

        <input class="enviarConfig" type="submit" value="Jugar" >
</form>